{% extends "layouts/dashboard.html" %}
{% block title %}Dashboard - Juang Jaya{% endblock %}
{% block content %}
  <div
    class="grid grid-cols-1 gap-4 p-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    {% for post in posts %}
      <a class="card" href="/post/{{ post.id }}">
        <div class="card-header">
          <h3 class="text-lg font-normal capitalize tracking-tight">
            {{ post.title }}
          </h3>
        </div>
        <div class="card-content">
          <p class="text-base text-gray-700">{{ post.body }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock content %}
