<div class="header-container">
  <header class="header">
    <div class="flex flex-wrap items-center justify-between px-4">
      <div>
        <button
          class="flex items-center rounded border border-teal-400 px-3 py-2 text-teal-200 hover:border-white hover:text-white"
          onclick="document.getElementById('nav').classList.toggle('hidden')">
          <svg
            class="h-3 w-3 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path
              d="M0 0h20v20H0V0zm2 5h16v2H2V5zm0 4h16v2H2V9zm0 4h16v2H2v-2z" />
          </svg>
        </button>
      </div>
    </div>
  </header>
</div>
