<div
  class="block hidden w-full flex-grow lg:flex lg:w-auto lg:items-center"
  id="nav">
  <div class="text-sm lg:flex-grow">
    <a
      href="/"
      class="mr-4 mt-4 block text-teal-200 hover:text-white lg:mt-0 lg:inline-block">
      Home
    </a>
    <a
      href="/post"
      class="mr-4 mt-4 block text-teal-200 hover:text-white lg:mt-0 lg:inline-block">
      Posts
    </a>
    <a
      href="/about"
      class="mt-4 block text-teal-200 hover:text-white lg:mt-0 lg:inline-block">
      About
    </a>
  </div>
</div>
