<nav class="app-navigation overflow-auto">
  <ul class="py-6">
    <li>
      <span class="inline-block px-5 py-2 text-xs uppercase text-gray-500">
        Menu
      </span>
    </li>
    {% for menu in config::MENU %}
      <li>
        <a
          href="{{ menu.url }}"
          class="flex items-center gap-2 px-5 py-2 text-gray-600">
          <iconify-icon
            icon="{{ menu.icon }}"
            class="flex h-6 w-6 items-center justify-center text-lg"></iconify-icon>
          <span>{{ menu.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
