{% extends "layouts/base.html" %}
{% block title %}Welcome home{% endblock %}
{% block body %}
  <div class="container m-4 mx-auto grid grid-cols-4 gap-4">
    {% for post in posts %}
      <a
        class="max-w-sm overflow-hidden rounded shadow-lg"
        href="/post/{{ post.id }}">
        <div class="px-6 py-4">
          <div class="mb-2 text-xl font-bold">{{ post.title }}</div>
          <p class="text-base text-gray-700">{{ post.body }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock body %}
